<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
    <h2>Bitbridge Global | Password Reset</h2>
    
    <p>Your reset link is:</p>
    
    <p>
        <a href="<%= @url %>">Click here to reset your password</a>
    </p>

    <p>
        You have requested up to Bitbridge Global Trading platform: <%= @user.email %>.
    </p>

    <p>
        To Reset your password your, follow this link: 
        <a href="<%= @url %>"><%= @url %></a>
    </p>

    <p>Thanks for joining and have a great day!</p>
</body>

</html>