<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h2>Welcome to Bitbridge Global.com</h2>
    <p>
        You have successfully signed up to Bit Bridge Globbal Trading platform: <%= @user.email %>.<br>
    </p>
    <p>
        log in to complete you sign up, follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
</body>

</html>