<h1>UserActivity#send_gift_token</h1>

<p>
    <%= @greeting %>, find me in app/views/user_activity_mailer/send_gift_token.html.erb
</p>


<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h2>Gift Card Code</h2>
    <p>
        Your GiftCard Code for : <%= @provision %><br> is

    <p style="textColor: red">



        <%= @token %>

    </p>
    </p>
    <p>
        log in to complete you sign up, follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
</body>

</html>